.wrapper {
  text-align: center;
  background-color: var(--color-background);
}

.section {
  margin-top: calc(var(--spacing-regular) * -1);
  padding: var(--spacing-regular) var(--spacing-x-small) 0;
  width: 100%;
  height: 100%;
  position: relative;
  border-top-left-radius: var(--radius-regular);
  border-top-right-radius: var(--radius-regular);
  background-color: var(--color-xxx-contrast);
  color: var(--color-foreground);
}

.container {
  height: inherit;
  width: 100%;
  max-width: var(--max-container-width);
  margin: 0 auto;
}

.fieldsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row;
}
